html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f1f5f9;
  overflow-x: hidden;
  overflow-y: auto !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

@media (max-width: 760px) {
  app-admin .admin-content > *:not(router-outlet),
  app-employee .employee-content > *:not(router-outlet),
  app-technicien .technicien-content > *:not(router-outlet) {
    top: 126px !important;
    left: 0 !important;
    width: auto !important;
  }
}

@media (max-width: 480px) {
  app-admin .admin-content > *:not(router-outlet),
  app-employee .employee-content > *:not(router-outlet),
  app-technicien .technicien-content > *:not(router-outlet) {
    top: 172px !important;
  }
}